<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ユーザ管理</title>
<meta th:include="common/layout.html::head" th:remove="tag"></meta>
<link rel="stylesheet" th:href="@{/css/page/user.css}" />
<script type="text/javascript">
/*<![CDATA[*/
function pwCheckOnchangeHandler() {
  console.info('#### ');
  const pw = document.getElementById("password");
  const pwCheck = document.getElementById("password-check");
  
  if(pwCheck.checked) {
      pw.setAttribute("type", "text");
  } else {
      pw.setAttribute("type", "password");
  }
}
function showMsg() {
  const msgEl = document.getElementById("appCompleteMessage");
  const msg = msgEl.value;
  console.info(msg);
  if (msg) msgModal(msg);
  
  const pw = document.getElementById("password");
  const pwCheck = document.getElementById("password-check");
  if (pw) pw.type = "password";
  if (pwCheck) pwCheck.checked = false;
}

window.onload = showMsg;

/*]]>*/
</script>
</head>
<body>
  <div class="wrapper">
    <header>
      <div th:include="common/layout :: contentsHeader"></div>
    </header>

    <div class="container">
      <div class="side">
        <!--/* ▼ サイドメニュー表示 */-->
        <div th:include="common/layout :: sideMenu"></div>
        <!--/* ▲ サイドメニュー表示 */-->
      </div>
      <div class="main" th:with="uri      = ${#httpServletRequest.requestURI},
                                 isNew    = ${#strings.contains(uri, '__@{/maintenance/user/new}__')},
                                 isEdit   = ${#strings.contains(uri, '__@{/maintenance/user/edit}__')},
                                 isDetail = ${#strings.contains(uri, '__@{/maintenance/user/detail}__')}">
        <div class="top">
          <!--/* ▼ タブ表示 */-->
          <div th:if="${isNew}" th:include="user_layout :: tabs"></div>
          <!--/* ▲ タブ表示 */-->
          
          <div th:unless="${isNew}" class="boardTitle">[[${isDetail} ? 'ユーザー詳細' : 'ユーザー編集']]</div>
          
          <div class="tab">
            <div class="boardArea" style="border: #d0d0d0 solid 1px;">
              <form method="post" th:object="${userCreateForm}" th:action="''" >
                <input type="hidden" id="appCompleteMessage"
                  th:value='${appCompleteMessage}' />
                <div th:if="${createFailureMessage!=null or createFailureMessage!=''}">
                 <span th:text="${createFailureMessage}" style="color: red; padding: 5px;">error</span>
               </div>
               <table>
                  <tr>
                    <td style="width: 150px; text-align: left; padding: 5px;">
                      <label class="required">ユーザーID</label>
                    </td>
                    <td colspan="2">
                      <input th:if="${isNew}" type="text" th:field="*{userid}" size="15" maxlength="10" placeholder="半角英数10文字" required/>
                      <span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" style="color:red;">error!</span>
                      
                      <label th:if="${isEdit or isDetail}">[[*{userid}]]</label>
                      <input th:if="${isEdit}" type="hidden" th:field="*{userid}" />
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 150px; text-align: left; padding: 5px;" th:unless="${isDetail}">
                      <label>パスワード</label>
                    </td>
                    <td colspan="2">
                      <label th:if="${isNew}" style="font-size: 12px;">※初期パスワードは「共通キーワード＋ユーザーID」になります。</label>
                      <input th:if="${isEdit}" id="password" type="text" th:field="*{password}" size="15" maxlength="15" placeholder="半角英数5~10文字" />
                      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;">error!</span>
                      <input th:if="${isEdit}" type="checkbox" id="password-check" onchange="pwCheckOnchangeHandler()"/>
                      <label th:if="${isEdit}">パスワードを表示する</label>
                      <label th:if="${isEdit}" style="font-size: 12px; color:red;"><br/>※入力したパスワードで再設定されます。</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 150px; text-align: left; padding: 5px;">
                      <label class="required">ユーザー名</label>
                    </td>
                    <td colspan="3">
                      <input th:if="${isNew or isEdit}" type="text" th:field="*{username}" size="30" maxlength="20" placeholder="全角1～20文字" required />
                      <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;">error!</span>
                      <label th:if="${isDetail}">[[*{username}]]</label>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 150px; text-align: left; padding: 5px;">
                      <label class="required">権限</label>
                    </td>
                    <td colspan="3" th:if="${isNew or isEdit}">
                      <input id="radioUser"
                        type="radio" name="roleName" value="USER"
                        th:field="*{roleName}" checked="checked">ユーザー
                      <input id="radioAdmin"
                        type="radio" name="roleName" value="ADMIN"
                        th:field="*{roleName}">管理者
                    </td>
                    <td colspan="3" th:if="${isDetail}">
                      <label>[[*{roleName}]]</label>
                    </td>
                  </tr>
                  
                  <div th:unless="${isNew}">
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">ログイン失敗数</td>
                      <td colspan="3">
                        <label th:if="${isDetail}">[[*{loginFailureCount}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">ログイン拒否日時</td>
                      <td colspan="3">
                        <label>[[*{loginDenyTime}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">削除</td>
                      <td colspan="3">
                        <label>[[*{deleted==1 ? '済' : ''}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">最終更新者</td>
                      <td colspan="3">
                        <label>[[*{updaterId}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">最終更新日時</td>
                      <td colspan="3">
                        <label>[[*{updateTime}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">登録者</td>
                      <td colspan="3">
                        <label>[[*{createrId}]]</label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 150px; text-align: left; padding: 5px;">登録日時</td>
                      <td colspan="3">
                        <label>[[*{createTime}]]</label>
                      </td>
                    </tr>
                  </div>
                  <tr>
                    <td></td>
                    <td colspan="3" th:object="${userCreateForm}" >
                      <button th:if="${isNew or isEdit}" type="submit">[[${isNew} ? '登録' : '更新']]</button>
                      <button th:if="${isDetail}" type="button" 
                          th:onclick="'location.href=\''+ @{/maintenance/user/edit}+ '?userid=' + *{userid} +'\''">編集</button>
                      <button th:unless="${isNew}" type="button" 
                          th:onclick="'location.href=\''+ (
                                           ${isDetail} ? @{/maintenance/user/search} 
                                               : @{/maintenance/user/detail} +'?userid=' + *{userid}) + '\''">戻る</button>
                    </td>
                  </tr>
                </table>
                <div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div th:include="common/layout :: footer"></div>
    </footer>
  </div>
</body>
</html>